* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #030013;
  color: #fbfbfb;
}

button {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  opacity: 0.8;
}

header {
  width: 100%;
  padding: 2vh 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  & a {
    text-decoration: none;
    cursor: pointer;
    color: #fbfbfb;
  }

  & img {
    width: 60px;
  }
  & nav {
    background-color: #fbfbfb1a;
    padding: 16px 20px;
    border-radius: 6px;
    border: 1px solid #fbfbfb;
    backdrop-filter: blur(8px);
  }

  & nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-1 {
  background-image: url("assets/world.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  & h2 {
    font-size: 14vw;
    color: #585858;
    mix-blend-mode: color-dodge;
  }
  & h1 {
    font-size: 48px;
    text-align: center;
    font-weight: 500;
  }
  & .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1 {
      text-align: center;
    }
    & .conteudo-botoes {
      display: flex;
      margin-top: 24px;
      flex-direction: row;
      gap: 8px;
    }
    & .conteudo-botoes > button {
      border-radius: 25px;
      padding: 6px 6px 6px 16px;
      border: none;
      outline: none;
      gap: 8px;
      font-size: 16px;
      opacity: 0.8;
      transition: all 0.3s;
    }

    & .conteudo-botoes > button:hover {
      opacity: 1;
    }

    & .conteudo-botoes > .orcamento > img {
      width: 42px;
    }
    & .conteudo-botoes > .contato {
      background-color: #03001318;
      color: white;
      backdrop-filter: blur(8px);
      padding: 6px 16px;
    }
  }
}
